<main>
    <div id="about"  class="about">
      <div class="background-aboutme"></div>
      <div class="bottom-fade"></div>
      <!-- <img src="build/img/aboutme.png"  alt=""> -->
      <div class="text-about" data-aos="fade-up" data-aos-duration="3000">
        <p> <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit asperiores necessitatibus at fuga. Optio neque asperiores consectetur repellendus. Blanditiis, omnis! Debitis, quas similique totam quisquam perferendis eum atque ducimus tenetur.</span> </p> 
        <div >
          <br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo at, in tenetur ut repellat earum nostrum quo. Voluptas nesciunt, libero doloribus, veritatis placeat odit repudiandae soluta laborum nemo, repellendus fugiat?</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat in nisi porro animi? Suscipit, alias illo et animi tempora necessitatibus, sit reprehenderit ullam nihil unde, quas aliquam. Excepturi, deserunt aperiam!</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat in nisi porro animi? Suscipit, alias illo et animi tempora necessitatibus, sit reprehenderit ullam nihil unde, quas aliquam. Excepturi, deserunt aperiam!</p>
        </div>
      </div>
    </div>
</main>