<section class="container ">
    <div class="row">
        <h2>Skills</h2>
        <div class="col-xl-7 col-xxl col-10 skills"> 
            <ul class="ul_emphasis">
                <li class="title-skill">Front End Development</li>
                <ul class="list">
                    <li>HTML 5 (Semántica y Accesibilidad)</li>
                    <li>CSS (Grid Layout, Flexbox, Diseño responsivo, animación SVG)</li>
                    <li>Preprocesadores CSS (SASS, SCSS)</li>
                    <li>CSS Frameworks (Tailwind, Bootstrap)</li>
                    <li>JavaScript (ES6, Promises, Async/Await, Object patterns)</li>
                    <li>Librerias JS/Frameworks JS: Angular, React (Hooks, Context, Class based components, UI State)</li>
                    <li>Next.js</li>
                    <li>Git (Workflows y Pull Request)</li>
                    <li>Python</li>
                    <li>Java</li>
                </ul>
                <li class="title-skill">Web Desing</li>
                <ul class="list">
                    <li>Prototipado (Figma, Adobe XD)</li>
                    <li>Edición (CC Adobe Ilustrator, CC Adobe Photoshop)</li>
                </ul>
                <li class="title-skill">Agile methodology</li>
                <ul class="list">
                    <li>Scrum</li>
                    <li>Kanban</li>
                </ul>
            </ul>
        </div>

        <div class="col-xl-5 col-xxl-2 cont-images">
            <div class="cont-image"></div>
            <div class="cont-image"></div>
            <div class="points"></div>
        </div>
    </div>
</section>
 